<div  class="container">
    <table class="table table-striped table-hover w-75">
        <thead>
            <th>image</th>
            <th>title</th>
            <th>price</th>
        </thead>
        <tr *ngFor="let p of allproducts">
            <td class="w-25"> <img src="{{p.image}}" alt="" class="w-25"></td>
            <td>
                <p class=""> {{p.title}}</p>

            </td>

            <td>
                <p class="">{{p.price}}</p>
            </td>
        </tr>

    </table>

</div>